.dropdown {
  position: relative;
}

ul {
  list-style: none;
  padding: 5px;
}

.dropdownMenu {
  position: absolute;
  top: 30px;
  padding: 10px;
  font-size: 17px;
  color: #666666;
  background-color: white;
  border: 1px solid rgba(209, 209, 209, 0.5);
  box-shadow: 0 5px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: max-content;
}

.toggleButton {
  height: 40px;
  display: flex;
  gap: 5px;
  font-size: 15px;
  place-items: center;
  border: none;
  background-color: transparent;
}

.optionNode {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-size: 15px;
}
