.container {
  max-width: 100%;
  /* background-color: red; */
  min-height: 100vh;
  margin: auto;
  transition: all 0.1s;
  padding: 10px;
  z-index: -2;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 50%;
  }
}
