.container {
  max-width: 100%;
  /* background-color: red; */
  height: 100vh;
  margin: auto;
  transition: all 0.1s;
  padding: 10px;
  z-index: -2;
  background-color: white;
  box-shadow: 1px 1px 4px 0px #757575;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 50%;
  }
}
