:root {
  --size: 40px;
  --primary-color: rgb(85, 116, 255);
  --bg-color: rgb(255, 255, 255);
}

.dropdownSvg {
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.3s;
  /* margin-left: 10px; */
}

.button {
  width: var(--size);
  height: var(--size);
  color: var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: filter 0.3s;
  padding: 2px;
}

.button:active {
  filter: brightness(0.8);
}



.selectGroup {
  position: relative;
}