.header {
    width: 100%;
    background-color: #039be5;
    color: white;
    padding: 1rem;
    
}

.title {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: center;
}

.title > svg  {
    font-size: 30px;
}